{% extends "base.html" %}
{% block title %}Detalles{% endblock %}

{% block content %}
{% if error %}
        <p>{{ error }}</p>
{% else %}
        <p>Titulo : {{ movie["Title"]}}</p>
        <p>Año : {{ movie["Year"]}}</p>
        <p>Director: {{ movie["Director"]}}</p>
        <p>Resumen : {{ movie["Plot"]}}</p>
        <p>Reparto : {{ movie["Actors"]}}</p>
{% endif %}
 <form action="/movie/{{movie['imdbID']}}/comment" method="POST">
    <input type="text" name="persona" placeholder="Escribe tu nombre">
    <br>
    <textarea name="comentario" id="comentario">Comentario..</textarea>
    <br>
    <button type="submit">Guardar</button>
 </form>
 {% for c in comment %}
    {{ c["persona"] }}
    {{ c["comentario"] }}
    {{ c["fecha"] }}
{% endfor %}
{% endblock %}
